<footer>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <h3>COMPANY</h3>
                <a [routerLink]="['/about-us']">About Us</a>
                <a [routerLink]="['/contact']">Contact</a>
                <a>Store Locations</a>
                <a>Careers</a>
            </div>
            <div class="col-lg-3">
                <h3>HELP</h3>
                <a>Order Tracking</a>
                <a [routerLink]="['/faqs']">FAQ’s</a>
                <a>Privacy Policy</a>
                <a>Terms & Conditions</a>
            </div>
            <div class="col-lg-3">
                <h3>STORE</h3>
                <a>Women</a>
                <a>Men</a>
                <a>Speakers</a>
            </div>
            <div class="col-lg-3 col-3">
                <h3>FOLLOW US</h3>
                <a>And get Free Shipping on all your orders!</a>
                <div class="social-site" fxLayout="row" fxLayoutAlign="space-between  center">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-pinterest"></i>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 mt-5 mb-4">
                <h1>Sign up now & get 10% off</h1>
                <p>Be the first to know about our new arrivals and exclusive offers.</p>
            </div>
        </div>
        <div class="text-center d-flex justify-content-center flex-wrap align-items-center">
            <div class="res-input ">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Your email address">
                </mat-form-field>
            </div>
            <div class="res-btn">
                <button style="width: 100%">Sign Up</button>
            </div>

        </div>
    </div>
    <hr>
    <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
        <span fxLayout="row" fxLayoutAlign="space-between center">
            <h3 class="mr-2">Privacy Policy</h3>
            <h3>Terms & Conditions</h3>
        </span>
        <span>
            <h3>©2021 Goya - WordPress Theme</h3>
        </span>
    </div>
</footer>