<section>
    <div class="bg">
        <div class="header-text container " data-aos="zoom-in" data-aos-duration="2000">
            <div class="horizontal-line"></div>
            <div>
                <h1 class="text-center">About Us</h1>
                <blockquote>
                    <p>Air winged, above, seed whales face so void which so. Fish bring light blessed, midst light set and us rule said dominion</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>