<section>
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-lg-4 col-sm-12 mb-5">
                <div class="parent" data-aos="fade-down" data-aos-duration="1000">
                    <div class="child ">
                        <div class="bg-one">
                            <img src="../../../assets/img/main/banner-shirt1-768x976.webp">
                        </div>
                        <div class="text-in-image">
                            <div class="title">
                                <h1>Button Up Shirts</h1>
                            </div>
                            <a mat-raised-button href="#">Buy<br> Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-5">
                <div class="parent" data-aos="fade-down" data-aos-duration="2000">
                    <div class="child">
                        <div class="bg-one">
                            <img src="../../../assets/img/main/banner-shirt2-768x976.webp">
                        </div>
                        <div class="text-in-image">
                            <div class="title">
                                <h1>Choose your price</h1>
                            </div>
                            <a mat-raised-button href="#">Choose<br> Yours</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 mb-5">
                <div class="text-in-div" data-aos="fade-down" data-aos-duration="3000">
                    <div>
                        <div class="content">
                            <h2>Clearance Sales</h2>
                            <p> Up to 70% Off & Free Shipping</p>
                            <a mat-raised-button href="#" class="pt-2 pb-2">Browse Sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>