* {
    font-family: Jost;
}

img {
    cursor: pointer;
}

.small-image {
    width: 80px;
    height: auto;
}

.small-image img {
    width: 100%;
}

.image-res {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.bg {
    background: #f4f4f4;
}

.add-to-cart {
    width: 100%;
    background: black;
    color: white;
    padding: 16px;
}

.padding {
    padding: 105px 60px 0;
}

.image-carousel {
    display: none;
}

.image-res {
    display: block
}

@media screen and (max-width: 992px) {
    .small-image {
        display: none;
    }
    .image-carousel {
        display: block;
    }

    .image-res {
        display: none
    }
}
