<div class="product-information">
    <h1 class="product-title">{{productList.name}}</h1>
    <p class="product-price">${{productList.price}}.00</p>
    <p class="product-description">{{productList.description}}</p>
    <div class="d-flex flex-wrap res-header">
        <div class="add-button">
            <div class="d-flex flex-wrap product-count" style="width: 100%">
                <div class="decrement-product">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="decrementProduct()" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                </div>
                <form [formGroup]="countProductForm" class="input">
                    <input type="number" formControlName="inputValue">
                </form>
                <div class="increment-product">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="incrementProduct()" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                </div>
            </div>
        </div>
        <div class="add-button">
            <div class="res-button">
                <button mat-button class="add-to-cart" (click)="addProductCart(productList)">Add To Cart</button>
            </div>
        </div>
    </div>
    <div class="social-site d-flex">
        <p>Share</p>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-pinterest"></i>
    </div>
</div>